a{
    border: 1px groove red;
    background-color: yellow;
    box-shadow: 10px 10px 20px black;

    width: 60px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}